<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/css/cyrus.css">
	<title>Studio</title>
</head>
<body>
	<!--导航栏-->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<!--导航标题-->
		<div class="navbar-header">
			<a href="javascript:;" class="navbar-brand">
				<img src="../public/img/logo.png">
			</a>
			<div class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</div>
		</div>
		<!--导航条-->
		<div class="collapse navbar-collapse" id="myNav">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">About</a></li>
				<li><a href="javascript:;">Partners</a></li>
				<li><a href="javascript:;">Contact</a></li>
			</ul>
		</div>
	</div>
	<!--图片区-->
	<div class="row pic_row">
		<div class="col-sm-4">
			<div class="mark"></div><!--鼠标移入背景透明度层-->
			<img src="../public/img/1_002.jpg">
			<h3>NATURE</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/2_002.jpg">
			<h3>EVENTS</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/3_003.jpg">
			<h3>MUSIC</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/4.jpg">
			<h3>VINTAGE</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/5.jpg">
			<h3>TYPERS</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/6.jpg">
			<h3>HOTEL</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/7.jpg">
			<h3>CHINESE</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/8_002.jpg">
			<h3>DICRAP</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/9.jpg">
			<h3>COFFEE</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/10.jpg">
			<h3>CAMERAS</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/11.jpg">
			<h3>DESIGN</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="mark"></div>
			<img src="../public/img/12_002.jpg">
			<h3>STUDIO</h3>
			<div class="pic_col_txt">
				<p>
					Lily likes to play with crayons and pencils
				</p>
				<a href="javascript:;">VIEW MORE</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row creative">
			<div id="h_1"><h1 class="h_1">Creative digital agency based on London</h1></div>
			<div class="col-sm-6">
				<div class="left_txt">
					<h4><span class="brush"></span>&nbsp;Design</h4>
					<p>
						Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs, lead by passionate and uber progressive team that lives and breathes design. Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs.
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="right_txt">
					<h4><span class="brush"></span>&nbsp;Frontend & Backend Development</h4>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					</p>
				</div>
			</div>
		</div>
		<div class="process">
			<h2>Process</h2>
			<div id="pro_box">
				<div class="pro_box">
					<div class="process_col_bor">
						<div class="process_col_bor_txt time">
							<span class="brush"></span>
						</div>
						<b>Research</b>
					</div>
					<div class="process_col_bor">
						<div class="process_col_bor_txt piece">
							<span class="brush"></span>
						</div>
						<b>Plan</b>
					</div>
					<div class="process_col_bor">
						<div class="process_col_bor_txt database">
							<span class="brush"></span>
						</div>
						<b>Develop</b>
					</div>
					<div class="process_col_bor">
						<div class="process_col_bor_txt magic">
							<span class="brush"></span>
						</div>
						<b>Integration</b>
					</div>
					<div class="process_col_bor">
						<div class="process_col_bor_txt upload">
							<span class="brush"></span>
						</div>
						<b>Deliver</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--透明区域-->
	<div class="transparent">
		<div class="transparent_mark">
			<div class="container">
				<div class="row" id="transparent">
					<div id="transparent_mark">
						<div class="col-sm-3 col-xs-6" >
							<div class="transparent_mark_txt smile">
								<span class="brush"></span>
								<h4>24 Clients</h4>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6" >
							<div class="transparent_mark_txt rocket">
								<span class="brush"></span>
								<h4>75 Projects</h4>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6" >
							<div class="transparent_mark_txt download">
								<span class="brush"></span>
								<h4>454 Downloads</h4>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6" >
							<div class="transparent_mark_txt map">
								<span class="brush"></span>
								<h4>2 Offices</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container clients">
		<div class="row partners">
			<h1>Some of our happy clients</h1>
			<div class="col-sm-6 col-xs-12">
				<div id="pics">
					<div class="pics">
						<div class="pic_s"><img src="../public/img/1.jpg" alt=""></div>
						<div class="pic_s"><img src="../public/img/2_003.jpg" alt=""></div>
						<div class="pic_s"><img src="../public/img/3.jpg" alt=""></div>
						<div class="pic_s"><img src="../public/img/4_002.jpg" alt=""></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="mySlide">
					<div class="carousel slide" id="mySlide" data-ride="carousel" data-interval="3000">
						<ul class="carousel-indicators">
							<li data-target="#mySlide" data-slide-to="0" class="active">
							</li>
							<li data-target="#mySlide" data-slide-to="1">
							</li>
							<li data-target="#mySlide" data-slide-to="2">
							</li>
						</ul>
						<div class="carousel-inner">
							<div class="item active">
								<div class="slide_img">
									<img src="../public/img/1_003.jpg" alt="">
								</div>
								<div class="slide_txt">
									<p>
										I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
									</p>
									<p>
										Angel Smith - <span>eshop Canada</span>
									</p>
								</div>
							</div>
							<div class="item">
								<div class="slide_img">
									<img src="../public/img/2.jpg" alt="">
								</div>
								<div class="slide_txt">
									<p>
										No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
									</p>
									<p>
										John Partic - <span>Crazy Pixel</span>
									</p>
								</div>
							</div>
							<div class="item">
								<div class="slide_img">
									<img src="../public/img/3_002.jpg" alt="">
								</div>
								<div class="slide_txt">
									<p>
										On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue.
									</p>
									<p>
										Harris David - <span>Jet London</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--our team区域-->
		<div class="row team">
			<h1>Our team</h1>
			<p class="h1_p">Our creative team that is making everything possible</p>
			<div class="col-sm-3 col-xs-6">
				<div class="team_pics">
					<img src="../public/img/8.jpg" alt="">
					<div class="team_mark">
						<p><strong>BARBARA HUSTO</strong></p>
						<p>SENIOR DESIGNER</p>
						<span class="brush dribble"></span>
						<span class="brush facebook"></span>
						<span class="brush twitter"></span>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="team_pics">
					<img src="../public/img/10_002.jpg" alt="">
					<div class="team_mark">
						<p><strong>BARBARA HUSTO</strong></p>
						<p>SENIOR DESIGNER</p>
						<span class="brush dribble"></span>
						<span class="brush facebook"></span>
						<span class="brush twitter"></span>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="team_pics">
					<img src="../public/img/12.jpg" alt="">
					<div class="team_mark">
						<p><strong>BARBARA HUSTO</strong></p>
						<p>SENIOR DESIGNER</p>
						<span class="brush dribble"></span>
						<span class="brush facebook"></span>
						<span class="brush twitter"></span>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6">
				<div class="team_pics">
					<img src="../public/img/17.jpg" alt="">
					<div class="team_mark">
						<p><strong>BARBARA HUSTO</strong></p>
						<p>SENIOR DESIGNER</p>
						<span class="brush dribble"></span>
						<span class="brush facebook"></span>
						<span class="brush twitter"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--联系我们部分-->
	<div class="contact">
		<div class="container">
			<h1>Get in touch to start your project</h1>
			<div id="contact_ipt">
				<div class="row contact_ipt">
					<div class="col-sm-6 col-sm-offset-3 col-xs-12">
						<input type="text" placeholder="Name">
						<input type="text" placeholder="Company">
						<textarea type="text" rows="5" placeholder="Message"></textarea>
						<button><span class="brush plane"></span>Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--foot部分-->
	<div class="footer">
		<p>
			<span class="brush facebook"></span>
			<span class="brush ins"></span>
			<span class="brush twitter"></span>
			<span class="brush fli"></span>
		</p>
		<p>
			<span class="footer_txt">Powered by:<a href="javascript:;">If You Are the One</a></span>
		</p>
	</div>
	<div class="go_top"></div>
	<script src="../public/js/jquery-3.1.1.min.js"></script>
	<script src="../public/js/bootstrap.js"></script>
	<script src="../public/js/cyrus.js"></script>
</body>
</html>
